body{
    font-family: 'Acme', sans-serif;
}
.bg-img {

    /* The image used */
    background-image: url("/img/macbook.jpg");

    min-height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.center{
    text-align: center;
    color:white;
    padding: 300px;
    margin-left: 600px;
    font-size: 20px;
    -webkit-transform:rotate(-35deg);
    transform: rotate(-35deg);

}

 h1{
    font-family: 'Acme', sans-serif;
}




/*html, body {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.container{*/

    /*display: flex;*/
/*}*/

/*.top-nav{*/
/*justify-content: space-between;*/
/*}*/

/*.hero-image{*/
    /*background-image: url("/img/macbook.jpg");*/
    /*background-image: cover;*/

/*}*/

/*a{*/
    /*text-decoration: none;*/
/*}*/

/*li{*/
   /*list-style-type: none;*/
    /*display:inline;*/
    /*padding: 20px;*/
/*}*/

/*ul{*/


/*}*/

/*.logo{*/
    /*display: inline;*/
/*}*/
